node_modules
ios/RCTContacts.xcodeproj/xcuserdata
ios/RCTContacts.xcodeproj/project.xcworkspace

# Intellij
.idea

.npm-debug.log

examples/android/build
examples/android/app/build/tmp
examples/android/app/build/intermediates
