node_modules
ios/RCTContacts.xcodeproj/xcuserdata
ios/RCTContacts.xcodeproj/project.xcworkspace

# Intellij
.idea

.npm-debug.log

android/.gradle
android/.classpath
android/.project
android/.settings/
android/build/

.DS_Store

