node_modules
ios/RCTContacts.xcodeproj/xcuserdata
ios/RCTContacts.xcodeproj/project.xcworkspace

# Android/IJ
.idea/workspace.xml
.idea/libraries
.gradle
local.properties
*.iml
build

.npm-debug.log
*.log
### Gradle ###
.gradle
gradle
gradlew
gradlew.bat
local.properties
.idea
